@import "./cssforge.css";

html,
body {
  font-family:
    var(--font-dosis),
    "Dosis",
    sans-serif;
  min-height: 100dvh;
  overscroll-behavior: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
